# Wrangle ML datasets
- Explore tabular data for supervised machine learning
- Join relational data for supervised machine learning

# Explore tabular data for superviesd machine learning üçå

Wrangling your dataset is often the most challenging and time-consuming part of the modeling process.

In today's lesson, we‚Äôll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

Let‚Äôs get set up:

In [ ]:
# Download data
import requests

def download(url):
    filename = url.split('/')[-1]
    print(f'Downloading {url}')
    r = requests.get(url)
    with open(filename, 'wb') as f:
        f.write(r.content)
    print(f'Downloaded {filename}')

download('https://lambdaschool-ds-instruction.s3.amazonaws.com/datasets%3Ainstacart_2017_05_01.tar.gz')

Downloading https://lambdaschool-ds-instruction.s3.amazonaws.com/datasets%3Ainstacart_2017_05_01.tar.gz
Downloaded datasets%3Ainstacart_2017_05_01.tar.gz

In [ ]:
# Uncompress data
import tarfile
tarfile.open('datasets%3Ainstacart_2017_05_01.tar.gz').extractall()

In [ ]:
# Change directory to where the data was uncompressed
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [ ]:
# Print the csv filenames
from glob import glob
for filename in glob('*.csv'):
    print(filename)

departments.csv
aisles.csv
products.csv
orders.csv
order_products__prior.csv
order_products__train.csv

In [ ]:
# For each csv file, look at its shape & head
import pandas as pd
from IPython.display import display
def preview():
  for filename in glob('*.csv'):
    df = pd.read_csv(filename)
    print('\n',filename, df.shape)
    display(df.head(5))

preview()

 departments.csv (21, 2)

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

 aisles.csv (134, 2)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

 products.csv (49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

 orders.csv (3421083, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

 order_products__prior.csv (32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

 order_products__train.csv (1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### The original task was complex ...

[The Kaggle competition said,](https://www.kaggle.com/c/instacart-market-basket-analysis/data):

> The dataset for this competition is a relational set of files describing customers' orders over time. The goal of the competition is to predict which products will be in a user's next order.

> orders.csv: This file tells to which set (prior, train, test) an order belongs. You are predicting reordered items only for the test set orders.

Each row in the submission is an order_id from the test set, followed by product_id(s) predicted to be reordered.

> sample_submission.csv:
```
order_id,products
17,39276 29259
34,39276 29259
137,39276 29259
182,39276 29259
257,39276 29259
```

### ... but we can simplify!

Simplify the question, from "Which products will be reordered?" (Multi-class, [multi-label](https://en.wikipedia.org/wiki/Multi-label_classification) classification) to **"Will customers reorder this one product?"** (Binary classification)

Which product? How about **the most frequently ordered product?**

### Questions:

- What is the most frequently ordered product?
- How often is this product included in a customer's next order?
- Which customers have ordered this product before?
- How can we get a subset of data, just for these customers?
- What features can we engineer? We want to predict, will these customers reorder this product on their next order?

## Follow Along

### What was the most frequently ordered product?

In [ ]:
order_products__train = pd.read_csv('order_products__train.csv')

In [ ]:
order_products__train['product_id'].value_counts()

24852    18726
13176    15480
21137    10894
21903     9784
47626     8135
         ...
44256        1
2764         1
4815         1
43736        1
46835        1
Name: product_id, Length: 39123, dtype: int64

In [ ]:
#lets order products by product id
temp = order_products__train.sort_values(by='product_id',ascending=False)
temp.head()

         order_id  product_id  add_to_cart_order  reordered
891142    2198380       49688                 10          0
1209047   2986153       49688                 16          0
269349     655800       49688                 10          1
1014644   2508423       49688                  3          0
446055    1092104       49687                  1          0

In [ ]:
products = pd.read_csv('products.csv')
products[products.products_id==24852]

AttributeError: ignored

In [ ]:
train = pd.merge(order_products__train,products,on='product_id')

In [ ]:
train['product_name'].value_counts()

Banana                                                18726
Bag of Organic Bananas                                15480
Organic Strawberries                                  10894
Organic Baby Spinach                                   9784
Large Lemon                                            8135
                                                      ...
Activia Fruit Fusion Strawberry & Raspberry Yogurt        1
Lemon Sparkling Soda                                      1
Honeydew Nourishing Hair Conditioner                      1
Sesame Flatbread                                          1
Mixed Berry Galette                                       1
Name: product_name, Length: 39123, dtype: int64

### How often are bananas included in a customer's next order?

There are [three sets of data](https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b):

> "prior": orders prior to that users most recent order (3.2m orders)  
"train": training data supplied to participants (131k orders)  
"test": test data reserved for machine learning competitions (75k orders)

Customers' next orders are in the "train" and "test" sets. (The "prior" set has the orders prior to the most recent orders.)

We can't use the "test" set here, because we don't have its labels (only Kaggle & Instacart have them), so we don't know what products were bought in the "test" set orders.

So, we'll use the "train" set. It currently has one row per product_id and multiple rows per order_id.

But we don't want that. Instead we want one row per order_id, with a binary column: "Did the order include bananas?"

Let's wrangle!

# Join relational data for supervised machine learning

## Overview
Often, you‚Äôll need to join data from multiple relational tables before you‚Äôre ready to fit your models.

### Which customers have ordered this product before?

- Customers are identified by `user_id`
- Products are identified by `product_id`

Do we have a table with both these id's? (If not, how can we combine this information?)

In [ ]:
train[train['order_id']==816049]

         order_id  product_id  ...  aisle_id  department_id
1          816049       49302  ...       120             16
26911      816049       22035  ...        21             16
47740      816049       20574  ...        96             20
196442     816049       41220  ...        83              4
264132     816049       34969  ...        83              4
355646     816049        7503  ...       117             19
363747     816049       19446  ...        67             20
370530     816049       44142  ...        83              4
552816     816049       36772  ...         4              9
603546     816049       26604  ...        24              4
731632     816049       17948  ...       116              1
743018     816049        1158  ...       116              1
850389     816049       38200  ...        31              7
885283     816049       14267  ...        59             15
1003220    816049       20118  ...       107             19
1088001    816049       35176  ...       108             16

[16 rows x 7 columns]

In [ ]:
train['bananas'] = train['product_name'] == 'Banana'

In [ ]:
train['bananas'].value_counts(normalize=True)

False    0.986476
True     0.013524
Name: bananas, dtype: float64

In [ ]:
train_wrangled = train.groupby('order_id')['bananas'].any().reset_index()

In [ ]:
train_wrangled['bananas'].value_counts(normalize=True)

False    0.857281
True     0.142719
Name: bananas, dtype: float64

In [ ]:
train[train.bananas==True]

        order_id  product_id  ...  department_id  bananas
129688       226       24852  ...              4     True
129689       473       24852  ...              4     True
129690       878       24852  ...              4     True
129691      1042       24852  ...              4     True
129692      1139       24852  ...              4     True
...          ...         ...  ...            ...      ...
148409   3419531       24852  ...              4     True
148410   3419542       24852  ...              4     True
148411   3419629       24852  ...              4     True
148412   3420088       24852  ...              4     True
148413   3420996       24852  ...              4     True

[18726 rows x 8 columns]

In [ ]:
bananas_order_ids = train[train.bananas==True].order_id

In [ ]:
orders = pd.read_csv('orders.csv')
orders.sample(n=5)

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
2780635   1938307   167649  ...                10                    14.0
1387672    917963    83398  ...                16                    18.0
1183582    507820    71133  ...                13                     5.0
1398287     79730    84029  ...                17                     4.0
2590595   3129547   155942  ...                19                     2.0

[5 rows x 7 columns]

In [ ]:
orders[orders.order_id.isin(bananas_order_ids)]

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
25        1492625        2  ...                11                    30.0
485        698604       34  ...                13                    30.0
623       1864787       43  ...                11                    26.0
652       1947848       46  ...                20                    11.0
881         13318       56  ...                 9                     6.0
...           ...      ...  ...               ...                     ...
3420581    681092   206181  ...                13                    30.0
3420692   2530125   206191  ...                 9                    30.0
3420786   3383615   206196  ...                15                    30.0
3420933   1716008   206205  ...                16                    10.0
3421082    272231   206209  ...                14                    30.0

[18726 rows x 7 columns]

In [ ]:
train[train.order_id==1492625]

         order_id  product_id  ...  department_id  bananas
40632     1492625       11913  ...             19    False
137883    1492625       24852  ...              4     True
199519    1492625        9387  ...              4    False
202785    1492625       45066  ...              4    False
241750    1492625        5450  ...              4    False
269520    1492625       33957  ...              1    False
286130    1492625       41787  ...              4    False
356655    1492625       22963  ...             20    False
503295    1492625       48523  ...              1    False
523860    1492625       38547  ...             19    False
535033    1492625       22825  ...              4    False
567501    1492625        2361  ...              1    False
583404    1492625       24838  ...             16    False
628833    1492625        7963  ...              1    False
643484    1492625       45613  ...              1    False
643689    1492625       31883  ...              1    False
679803    1492625       22559  ...              1    False
774757    1492625       48821  ...              1    False
802123    1492625       16589  ...             19    False
816814    1492625        5699  ...              1    False
947552    1492625       31612  ...              1    False
987143    1492625       13640  ...              4    False
1043782   1492625       19019  ...             20    False
1049680   1492625        1757  ...             15    False
1096429   1492625       45645  ...             19    False
1191332   1492625       12324  ...              1    False
1207038   1492625       34284  ...             15    False
1228845   1492625       26352  ...             20    False
1251741   1492625       32792  ...             19    False
1278338   1492625       21329  ...             15    False
1281246   1492625       12007  ...             11    False

[31 rows x 8 columns]

In [ ]:
banana_orders = orders[orders.order_id.isin(bananas_order_ids)]
bananas_user_ids = banana_orders.user_id

In [ ]:
bananas_user_ids

25              2
485            34
623            43
652            46
881            56
            ...
3420581    206181
3420692    206191
3420786    206196
3420933    206205
3421082    206209
Name: user_id, Length: 18726, dtype: int64

## Follow Along

In [ ]:
orders.shape

(3421083, 7)

### How can we get a subset of data, just for these customers?

We want *all* the orders from customers who have *ever* bought bananas.

(And *none* of the orders from customers who have *never* bought bananas.)

### What features can we engineer? We want to predict, will these customers reorder bananas on their next order?

## Challenge

**Continue to clean and explore your data.** Can you **engineer features** to help predict your target? For the evaluation metric you chose, what score would you get just by guessing? Can you **make a fast, first model** that beats guessing?

We recommend that you use your portfolio project dataset for all assignments this sprint. But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset today. Follow the instructions in the assignment notebook. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!